:root {
  scroll-behavior: smooth;
}

.light {
  --background-color: #ffffff;
  --text-color: #242734;

  --primary-orange-color: #ffb727;
  --default-orange-color: #ffc107;
  --light-orange-color: #fff2db;
}

.dark {
  --background-color: #020202;
  --text-color: #ffffff;

  --primary-dark-color: #242734;
  --default-dark-color: #323647;
  --light-grey-color: #e6e8eb;
}

main {
  background-color: var(--background-color);
  color: var(--text-color);
}
