:root {
  scroll-behavior: smooth;

  /* Colors for Light Mode */
--primary-orange-color : #FFB727;
--defaultOrangecolor : #FFC107;
--lightOrangecolor : #FFF2DB;

  /* Colors for Dark Mode */
--primarydarkcolor : #242734;
--defaultdarkcolor : #323647;
--lightgreycolor : #E6E8EB;


--darkgrey : #989898;
--whitecolor : #FFFFFF;

--darkblue : #126782;
--mediumblue : #219ebc;

--redError : #f27059;
--greenSuccess : #21cb88;

  /* Typography */
  --font-size-large: 26px;
  --font-size-medium: 16px;
  --font-size-small: 14px;

  --font-weight-bold: 700;
  --font-weight-medium: 600;

  /* Spacing */
  --spacing-small: 10px;
  --spacing-medium: 20px;
  --spacing-large: 40px;

  /* Border Radius */
  --border-radius-circle: 50%;
}

body.dark-mode {
  /* Colors for Dark Mode */
  --color-background: #121212;
  --color-background-soft: #1e1e1e;
  --color-background-mute: #2c2c2c;

  --color-border: #4a5561;
  --color-border-hover: #5a6672;

  --color-heading: #ffffff;
  --color-subheading: #ffcc33;
  --color-text: #cccccc;
}