@import './base.css';
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
html, body {
  overflow-x: hidden;
  width: 100%;
}
/*--------------------------------------------------------------
# My Portfolio
--------------------------------------------------------------*/
