@import './base.css';
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url('../assets/images/hero-bg.jpg') top right;
  background-size: cover;
  position: relative;
}
#hero:before {
  content: '';
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15px;
}

#hero h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
}

#hero h2 {
  font-family: 'Nunito Sans', sans-serif;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.typewriter-container {
  display: flex;
  align-items: center;
}

.typewriter-container h2 {
  margin-right: 10px;
}

.typewriter-container span {
  font-size: 1.5rem;
}

#hero .btn-scroll {
  transition: 0.4s;
  color: rgba(255, 255, 255, 0.6);
  animation: up-down 1s ease-in-out infinite alternate-reverse both;
}
#hero .btn-scroll i {
  font-size: 48px;
}
#hero .btn-scroll:hover {
  color: #ffb727;
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}
